<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('partials/head', {titlePage:"Station abfragen"}) %>
</head>

<body class="container containerBecauseOfFooter">
  <header><%- include ('partials/header') %></header>
  <main>
    <p>
      <%= textIntro %>
    </p>

    <h2>Konfigurationsdatei hochladen</h2>
    <form action="/config-file-upload" method="post" enctype="multipart/form-data">
      <!-- Input type file -->
      <div class="form-group">
        <div class="mb-3">
          <label for="file" class="form-label">Eine Datei hochladen.</label>
          <input class="form-control" type="file" id="file" name="file">
          <small class="text-muted form-text">asdfasdf</small>
          <button type="submit" class="mt-2 btn btn-primary float-end">Datei hochladen</button>
        </div>
      </div>
    </form>

    <h2 class="pt-5">Konfigurationsdatei einfügen und abschicken</h2>
    <form action="/config-file-textArea" method="post">
      <div class="form-group">
        <label>Textarea : </label>
        <textarea class="form-control" id="textAreaConfigFile" name="textAreaConfigFile" rows="3"></textarea>
      </div>
      <button type="submit" class="mt-2 btn btn-primary float-end">Text abschicken</button>
    </form>

    <p class="pt-5">Inhalt der Konfigurationsdatei:</p>
    <p>
    <pre><%=configFileText %></pre>
    </p>


  </main>
  <footer><%- include('partials/footer') %></footer>
</body>

</html>