<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/head', {titlePage:"Station anzeigen"}) %>
  </head>

  <body class="container">
    <header><%- include ('partials/header') %></header>
    <main>
      <p><%= textIntro %></p>
      <p>station -show</p>

      <form action="/station-selected" method="post">
        <div>
          <select name="station">
            <% stations.forEach((station) => { %>
            <option value="<%=`${station.name} @@ ${station.id} `%>">
              <%=`${station.name} - ${station.id}`%>
            </option>
            <% }); %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <% stations2.forEach((station)=>{ %>
        <div>
          <ul>
            <label><%=station.name %> </label>
            <%station.umweltparameter.forEach((up)=>{%>
            <li><%=up %> </li>
          <%})%>
        </ul>
      </div>
      <%})%>



      <% for (var i = 0; i < stations.length; i++) { 
        let stationsName = stations[i].name;
        let stationsID = stations[i].id
        let arr = stations2.find((e)=>e.id == stationsID);
        ;
        %>      
      <table id="myTable" class="table table-striped">
        <caption style="text-align:center; caption-side:top"><%=stationsName %></caption>
        <thead>
          <tr>
            <th>Konfigurationsdatei</th>
            <th>MDS</th>            
          </tr>
        </thead>
        <tbody id="tableBody">
          <% 
          let stationParaLength = stations[i].umweltparameter.length;
          let paraLength;
          let p2;

          if(arr == undefined){
            console.log("undef");
            paraLength = stationParaLength;
          }else{
            console.log("def!!!;");
            p2 = arr.umweltparameter.length;
            paraLength = stationParaLength > p2 ? stationParaLength : p2;
          }
          console.log("length para: "+paraLength);
           for (var j = 0; j < paraLength ; j++) { %>
            <tr>
              
              <% if(stations[i].umweltparameter.length <= i){%>
                <td>leer</td>    
              <%}else{%>             
              <td><%= stations[i].umweltparameter[j] %></td>
              <%}%>

              <% if((arr == undefined)||(arr.length <= i)){%>
                <td>leer</td>    
              <%}else{%>             
              <td><%= arr.umweltparameter[j] %></td>
              <%}%>

            </tr>
          <% }; %>
        </tbody>
      </table>
      <%}%>

    </main>
    <footer><%- include('partials/footer') %></footer>
  </body>
</html>
